<!DOCTYPE >
<html>
	<head>
		<title>JUApp</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'JUApp/index.css' %}">
	</head>
	<body background="{% static 'JUApp/books.png'%}">
		<img id='logo' src="{% static 'JUApp/154704146534195543.gif' %}"/>
		<select name ='dept' id="dept">
			<option>Construction</option>	
			<option>Information Technology</option>	
			<option>Instrumentation</option>	
			<option>Power</option>	
			<option>Printing</option>	
		</select>
	</body>
</html>