.no-padding ,.no-padding>[class*="col-"] {
    padding-left: 0 ;
    padding-right: 0;
}
body
{
	background-repeat: no-repeat;
	background-size: cover;
}
#logo {
  display: block;
  margin-top:2%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}
.box
{
	color: white;
	margin-top: 10px;
	width: 80%;
	overflow-x:hidden;
	overflow-y: auto;
	white-space: nowrap;
	height: 45%;
}

.innerBox
{
	overflow: hidden;
}
.outerBox
{
	margin:10;
}
.subject:hover
{
	background-color: rgba(255,255,255,0.8)
}
.subject
{
	margin-left:5;
	margin-right:5;
	padding-top:10;
	padding-left: 10;
	padding-right: 10;
	overflow-wrap: break-word;
	display: inline-block;
	height: 50px;
    white-space: normal;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.5);
    color: black;
}
a,a:hover
{
	color: white;
	text-decoration: none;
}
#dept
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	height: 30px;
	width:300px;
	border-radius: 10px;
	background-color: #808080;
	color: white;
	font-size: 20px;
}
button
{
	height:50;
	width: 50;
	border:none;
}