*
		{
			margin:0;
			padding:0;
		}
		html,body,div
		{
			height: 100%;
			
		}
		.container-fluid,.row,.container
		{
			padding: 0;
			margin:0;
		}
		body
		{
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			position: relative;
		}
		h5
		{
			color: red;
		}
		.overlay
		{
		  background-color: rgba(0,0,0,0.9);
		  color: white;
		  padding-top: 10%;
		  padding-left: 10%;
		  height: 92%;
		}
		a:hover,a:active
		{
			text-decoration: none;
			color: black;
		}

.no-padding ,.no-padding>[class*="col-"] {
    padding-left: 0 ;
    padding-right: 0;
}


.box
{
	background-color: white;
	color: black;
	margin-top: 10px;
	width: 80%;
	overflow-x:hidden;
	overflow-y: auto;
	white-space: nowrap;
	height: 45%;
	padding: 10px;
}

.innerBox
{
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
}
.hiding
{
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.row
{
	height: 30%;
}
.subject:hover
{
	background-color: green;
}
.subject
{
	margin-left:5;
	margin-right:5;
	padding-top:10;
	padding-left: 10;
	padding-right: 10;
	overflow-wrap: break-word;
	display: inline-block;
	height: 90%;
	min-width: 150px;
    white-space: normal;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
